
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Rubik', sans-serif;
	background: repeating-linear-gradient(225deg, #FFF, #FFF 20px, #9198e5 20px, #9198e5 25px);
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	color: #9198e5;
	margin: 50px;
	font-size: 60px;
	text-shadow: 4px 4px 0px pink;
}

.heart {
	width: 280px;
	height: 280px;
	background: pink;
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 100px;
	z-index: 150;
}

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	z-index: 1000;
	position: absolute;
	transform: rotate(-45deg);
	font-size: 35px;
	text-shadow: 4px 4px 0px #9198e5;
	top: -15px;
	left: -15px;
}

.heart::before, .heart::after {
	content: "";
	display: block;
	width: 280px;
	height: 280px;
	background: pink;
	border-radius: 50%;
	position: absolute;
}

.heart::before {
	top: 0;
	left: -140px;
}

.heart::after {
	top: -140px;
	left: 0;
}


